.egg {
  width: 70px;
  position: absolute;
  height: 90px;
  overflow:hidden;
  img {
    object-fit: contain;
    width:70px;
    opacity:0;
    transition:200ms ease-out all;
    will-change:opacity;
  }

  &.active {
    transition:200ms ease-out all;
    &:hover {
      transform:scale(1.1) rotate(15deg);
      transition:200ms ease-out all;

    }
    img {
      opacity:1;
      transition:200ms ease-out all;
      will-change:opacity;
      animation-name: Floatingx;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      -moz-animation-name: Floating;
      -moz-animation-duration: 3s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease-in-out;


    }
  }
}

@keyframes Floatingx{
  from {-webkit-transform:translate(0,-3px);}
  65% {-webkit-transform:translate(0, 3px);}
  to {-webkit-transform: translate(0, -3px);    }
}

@-moz-keyframes Floating{
  from {-moz-transform:translate(0, 0px);}
  65% {-moz-transform:translate(0, 15px);}
  to {-moz-transform: translate(0, -0px);}
}
