body, html {
  margin:0px;
  padding:0px;
  width:100vw;
  height:100vh;
  max-height:100vh;
  background-color:white;
  font-family:sans-serif;
}

.structure_content-main {
  position:relative;
  width:1290px;
  margin:0 auto;
}
